@page "/"
@inherits ApplicantRejestrationBase
@using Blazored.FluentValidation
@inject IModalService Modal

<div id="header">
    <center><h3>Applicant Form</h3></center>
</div>

<EditForm Model="@applicant" OnValidSubmit="@SaveApplicant">
    <FluentValidationValidator />
    <ValidationSummary />

    <div id="table">

        <table class="form-table" align="left">
            <tbody>
                <tr>
                    <td>Firts Name</td>
                    <td>
                        <InputText @bind-Value="@applicant.Name" placeholder="insert your name..."></InputText>
                        <ValidationMessage For="@(()=> applicant.Name)" />
                    </td>
                </tr>
                <tr>
                    <td>Family Name</td>
                    <td>
                        <InputText @bind-Value="@applicant.FamilyName" placeholder="insert family name..."></InputText>
                        <ValidationMessage For="@(()=> applicant.FamilyName)" />
                    </td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>
                        <InputText @bind-Value="@applicant.Address" placeholder="insert address..."></InputText>
                        <ValidationMessage For="@(()=> applicant.Address)" />
                    </td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>
                        <InputText @bind-Value="@applicant.CountryOfOrigin" placeholder="insert country..."></InputText>
                        <ValidationMessage For="@(()=> applicant.CountryOfOrigin)" />
                    </td>
                </tr>
                <tr>
                    <td>E-mail address</td>
                    <td>
                        <InputText @bind-Value="@applicant.EMailAdress" placeholder="insert e-mail..."></InputText>
                        <ValidationMessage For="@(()=> applicant.EMailAdress)" />
                    </td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>
                        <InputNumber @bind-Value="@applicant.Age" placeholder="insert age..."></InputNumber>
                        <ValidationMessage For="@(()=> applicant.Age)" />
                    </td>
                </tr>
                <tr>
                    <td>Are you hired?</td>
                    <td>
                        <InputCheckbox @bind-Value=applicant.Hired />
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div id="buttons">
        <center>
            <button class="btn custom-btn"  @onclick="ShowResetAcceptModal">Reset Data</button>
            <button class="btn custom-btn" type="submit">Submit</button>
        </center>
    </div>

</EditForm>